<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel=stylesheet type=text/css href="{{ url_for('static',
    filename='bootstrap/css/bootstrap.min.css') }}">
    <link
      rel="shortcut icon"
      href="{{url_for('static', filename='assets/favicon.ico')}}"
    />
    <link
      rel="shortcut icon"
      href="{{url_for('static', filename='assets/favicon_animated.ico')}}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"
    ></script>
    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/dashboard"><h1>Recipe Share</h1></a>
        <ul class="nav">
          <li class="nav-item">
            {% if session.user_id %}
            <a class="nav-link" href="/logout">Logout</a>
            {% endif %}
          </li>
        </ul>
      </div>
    </nav>
    {% block content %} {% endblock content %}
  </body>
</html>
